# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/
Pods

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Android/IntelliJ
#
.idea/
*.iml

# node.js
#
node_modules_save/

*.DS_Store
node_modules/jcore-react-native/android/libs/jcore-android-2.1.2-google_play.jar
node_modules/node-notifier/vendor/terminal-notifier.app/Contents/Info.plist
node_modules/node-notifier/vendor/terminal-notifier.app/Contents/PkgInfo
node_modules/node-notifier/vendor/terminal-notifier.app/Contents/MacOS/terminal-notifier
node_modules/node-notifier/vendor/terminal-notifier.app/Contents/Resources/Terminal.icns
node_modules/node-notifier/vendor/terminal-notifier.app/Contents/Resources/en.lproj/Credits.rtf
node_modules/node-notifier/vendor/terminal-notifier.app/Contents/Resources/en.lproj/InfoPlist.strings
node_modules/node-notifier/vendor/terminal-notifier.app/Contents/Resources/en.lproj/MainMenu.nib
node_modules/qr.js/.npmignore
node_modules/qr.js/index.js
node_modules/qr.js/LICENSE
node_modules/qr.js/package.json
node_modules/qr.js/README.md
node_modules/qr.js/example/index.js
node_modules/qr.js/lib/8BitByte.js
node_modules/qr.js/lib/BitBuffer.js
node_modules/qr.js/lib/ErrorCorrectLevel.js
node_modules/qr.js/lib/LICENSE-qrcode
node_modules/qr.js/lib/math.js
node_modules/qr.js/lib/mode.js
node_modules/qr.js/lib/Polynomial.js
node_modules/qr.js/lib/QRCode.js
node_modules/qr.js/lib/RSBlock.js
node_modules/qr.js/lib/util.js
node_modules/react-native-permissions/mock.js
node_modules/react-native-permissions/RNPermissions.podspec
node_modules/react-native-permissions/android/build.gradle
node_modules/react-native-permissions/android/src/main/AndroidManifest.xml
node_modules/react-native-permissions/android/src/main/java/com/reactnativecommunity/rnpermissions/RNPermissionsModule.java
node_modules/react-native-permissions/android/src/main/java/com/reactnativecommunity/rnpermissions/RNPermissionsPackage.java
node_modules/react-native-permissions/ios/BluetoothPeripheral.podspec
node_modules/react-native-permissions/ios/Calendars.podspec
node_modules/react-native-permissions/ios/Camera.podspec
node_modules/react-native-permissions/ios/Contacts.podspec
node_modules/react-native-permissions/ios/FaceID.podspec
node_modules/react-native-permissions/ios/LocationAlways.podspec
node_modules/react-native-permissions/ios/LocationWhenInUse.podspec
node_modules/react-native-permissions/ios/MediaLibrary.podspec
node_modules/react-native-permissions/ios/Microphone.podspec
node_modules/react-native-permissions/ios/Motion.podspec
node_modules/react-native-permissions/ios/Notifications.podspec
node_modules/react-native-permissions/ios/PhotoLibrary.podspec
node_modules/react-native-permissions/ios/Reminders.podspec
node_modules/react-native-permissions/ios/RNPermissions.h
node_modules/react-native-permissions/ios/RNPermissions.m
node_modules/react-native-permissions/ios/Siri.podspec
node_modules/react-native-permissions/ios/SpeechRecognition.podspec
node_modules/react-native-permissions/ios/StoreKit.podspec
node_modules/react-native-permissions/ios/BluetoothPeripheral/RNPermissionHandlerBluetoothPeripheral.h
node_modules/react-native-permissions/ios/BluetoothPeripheral/RNPermissionHandlerBluetoothPeripheral.m
node_modules/react-native-permissions/ios/Calendars/RNPermissionHandlerCalendars.h
node_modules/react-native-permissions/ios/Calendars/RNPermissionHandlerCalendars.m
node_modules/react-native-permissions/ios/Camera/RNPermissionHandlerCamera.h
node_modules/react-native-permissions/ios/Camera/RNPermissionHandlerCamera.m
node_modules/react-native-permissions/ios/Contacts/RNPermissionHandlerContacts.h
node_modules/react-native-permissions/ios/Contacts/RNPermissionHandlerContacts.m
node_modules/react-native-permissions/ios/FaceID/RNPermissionHandlerFaceID.h
node_modules/react-native-permissions/ios/FaceID/RNPermissionHandlerFaceID.m
node_modules/react-native-permissions/ios/LocationAlways/RNPermissionHandlerLocationAlways.h
node_modules/react-native-permissions/ios/LocationAlways/RNPermissionHandlerLocationAlways.m
node_modules/react-native-permissions/ios/LocationWhenInUse/RNPermissionHandlerLocationWhenInUse.h
node_modules/react-native-permissions/ios/LocationWhenInUse/RNPermissionHandlerLocationWhenInUse.m
node_modules/react-native-permissions/ios/MediaLibrary/RNPermissionHandlerMediaLibrary.h
node_modules/react-native-permissions/ios/MediaLibrary/RNPermissionHandlerMediaLibrary.m
node_modules/react-native-permissions/ios/Microphone/RNPermissionHandlerMicrophone.h
node_modules/react-native-permissions/ios/Microphone/RNPermissionHandlerMicrophone.m
node_modules/react-native-permissions/ios/Motion/RNPermissionHandlerMotion.h
node_modules/react-native-permissions/ios/Motion/RNPermissionHandlerMotion.m
node_modules/react-native-permissions/ios/Notifications/RNPermissionHandlerNotifications.h
node_modules/react-native-permissions/ios/Notifications/RNPermissionHandlerNotifications.m
node_modules/react-native-permissions/ios/PhotoLibrary/RNPermissionHandlerPhotoLibrary.h
node_modules/react-native-permissions/ios/PhotoLibrary/RNPermissionHandlerPhotoLibrary.m
node_modules/react-native-permissions/ios/Reminders/RNPermissionHandlerReminders.h
node_modules/react-native-permissions/ios/Reminders/RNPermissionHandlerReminders.m
node_modules/react-native-permissions/ios/RNPermissions.xcodeproj/project.pbxproj
node_modules/react-native-permissions/ios/Siri/RNPermissionHandlerSiri.h
node_modules/react-native-permissions/ios/Siri/RNPermissionHandlerSiri.m
node_modules/react-native-permissions/ios/SpeechRecognition/RNPermissionHandlerSpeechRecognition.h
node_modules/react-native-permissions/ios/SpeechRecognition/RNPermissionHandlerSpeechRecognition.m
node_modules/react-native-permissions/ios/StoreKit/RNPermissionHandlerStoreKit.h
node_modules/react-native-permissions/ios/StoreKit/RNPermissionHandlerStoreKit.m
node_modules/react-native-permissions/lib/commonjs/constants.js
node_modules/react-native-permissions/lib/commonjs/constants.js.map
node_modules/react-native-permissions/lib/commonjs/index.js
node_modules/react-native-permissions/lib/commonjs/index.js.map
node_modules/react-native-permissions/lib/commonjs/types.js
node_modules/react-native-permissions/lib/commonjs/types.js.map
node_modules/react-native-permissions/lib/module/constants.js
node_modules/react-native-permissions/lib/module/constants.js.map
node_modules/react-native-permissions/lib/module/index.js
node_modules/react-native-permissions/lib/module/index.js.map
node_modules/react-native-permissions/lib/module/types.js
node_modules/react-native-permissions/lib/module/types.js.map
node_modules/react-native-permissions/lib/typescript/constants.d.ts
node_modules/react-native-permissions/lib/typescript/index.d.ts
node_modules/react-native-permissions/lib/typescript/types.d.ts
node_modules/react-native-permissions/src/constants.ts
node_modules/react-native-permissions/src/index.ts
node_modules/react-native-permissions/src/types.ts
node_modules/babel-preset-fbjs/yarn-error.log
node_modules/chardet/yarn.lock
node_modules/diff/yarn.lock
node_modules/envinfo/yarn.lock
node_modules/fileset/yarn.lock
node_modules/formidable/yarn.lock
node_modules/i18n-js/yarn.lock
node_modules/jcore-react-native/android/libs/jcore-android-2.1.2.jar
node_modules/react-native-camera/android/.gradle/4.1/fileChanges/last-build.bin
node_modules/react-native-camera/android/.gradle/4.1/fileContent/fileContent.lock
node_modules/react-native-camera/android/.gradle/4.1/fileHashes/fileHashes.bin
node_modules/react-native-camera/android/.gradle/4.1/fileHashes/fileHashes.lock
node_modules/react-native-camera/android/.gradle/4.1/fileHashes/resourceHashesCache.bin
node_modules/react-native-camera/android/.gradle/4.1/javaCompile/classAnalysis.bin
node_modules/react-native-camera/android/.gradle/4.1/javaCompile/jarAnalysis.bin
node_modules/react-native-camera/android/.gradle/4.1/javaCompile/javaCompile.lock
node_modules/react-native-camera/android/.gradle/4.1/javaCompile/taskHistory.bin
node_modules/react-native-camera/android/.gradle/4.1/javaCompile/taskJars.bin
node_modules/react-native-camera/android/.gradle/4.1/taskHistory/fileSnapshots.bin
node_modules/react-native-camera/android/.gradle/4.1/taskHistory/taskHistory.bin
node_modules/react-native-camera/android/.gradle/4.1/taskHistory/taskHistory.lock
node_modules/react-native-camera/android/.gradle/buildOutputCleanup/built.bin
node_modules/react-native-camera/android/.gradle/buildOutputCleanup/cache.properties
node_modules/react-native-camera/android/.gradle/buildOutputCleanup/cache.properties.lock
node_modules/react-native-camera/yarn.lock
node_modules/react-native-htmlview/yarn.lock
node_modules/react-native-i18n/yarn.lock
node_modules/react-native-image-crop-picker/android/local.properties
node_modules/react-native-image-zoom-viewer/yarn-error.log
node_modules/react-native-modalbox/yarn.lock
node_modules/react-native-permissions/.flowconfig
node_modules/react-native-permissions/.github/CODE_OF_CONDUCT.md
node_modules/react-native-permissions/.github/ISSUE_TEMPLATE.md
node_modules/react-native-permissions/.prettierignore
node_modules/react-native-permissions/.prettierrc
node_modules/react-native-permissions/ReactNativePermissions.podspec
node_modules/react-native-permissions/index.js
node_modules/react-native-permissions/ios/Permissions/RNPAudioVideo.h
node_modules/react-native-permissions/ios/Permissions/RNPAudioVideo.m
node_modules/react-native-permissions/ios/Permissions/RNPBackgroundRefresh.h
node_modules/react-native-permissions/ios/Permissions/RNPBackgroundRefresh.m
node_modules/react-native-permissions/ios/Permissions/RNPBluetooth.h
node_modules/react-native-permissions/ios/Permissions/RNPBluetooth.m
node_modules/react-native-permissions/ios/Permissions/RNPContacts.h
node_modules/react-native-permissions/ios/Permissions/RNPContacts.m
node_modules/react-native-permissions/ios/Permissions/RNPEvent.h
node_modules/react-native-permissions/ios/Permissions/RNPEvent.m
node_modules/react-native-permissions/ios/Permissions/RNPLocation.h
node_modules/react-native-permissions/ios/Permissions/RNPLocation.m
node_modules/react-native-permissions/ios/Permissions/RNPMediaLibrary.h
node_modules/react-native-permissions/ios/Permissions/RNPMediaLibrary.m
node_modules/react-native-permissions/ios/Permissions/RNPMotion.h
node_modules/react-native-permissions/ios/Permissions/RNPMotion.m
node_modules/react-native-permissions/ios/Permissions/RNPNotification.h
node_modules/react-native-permissions/ios/Permissions/RNPNotification.m
node_modules/react-native-permissions/ios/Permissions/RNPPhoto.h
node_modules/react-native-permissions/ios/Permissions/RNPPhoto.m
node_modules/react-native-permissions/ios/Permissions/RNPSpeechRecognition.h
node_modules/react-native-permissions/ios/Permissions/RNPSpeechRecognition.m
node_modules/react-native-permissions/ios/RCTConvert+RNPStatus.h
node_modules/react-native-permissions/ios/RCTConvert+RNPStatus.m
node_modules/react-native-permissions/ios/ReactNativePermissions.h
node_modules/react-native-permissions/ios/ReactNativePermissions.m
node_modules/react-native-permissions/ios/ReactNativePermissions.xcodeproj/project.pbxproj
node_modules/react-native-permissions/lib/permissions.android.js
node_modules/react-native-permissions/lib/permissions.ios.js
node_modules/react-native-permissions/yarn.lock
node_modules/react-native-qrcode-scanner/node_modules/react-native-permissions/yarn.lock
node_modules/react-native-qrcode-scanner/yarn.lock
node_modules/react-native-safe-area-view/yarn.lock
node_modules/react-native-storage/yarn.lock
node_modules/react-native-swiper/yarn.lock
node_modules/react-native-video-controls/yarn.lock
node_modules/react-native-view-shot/node_modules/.bin/react-native
node_modules/react-native-wechat/yarn.lock
node_modules/react-navigation-deprecated-tab-navigator/yarn.lock
node_modules/react-navigation-tabs/node_modules/react-native-safe-area-view/yarn.lock
node_modules/socks-proxy-agent/yarn.lock
node_modules/uri-js/yarn.lock
node_modules/react-native-autoheight-webview/LICENSE
node_modules/react-native-autoheight-webview/README.md
node_modules/react-native-autoheight-webview/autoHeightWebView/index.js
node_modules/react-native-autoheight-webview/autoHeightWebView/momoize.js
node_modules/react-native-autoheight-webview/autoHeightWebView/utils.js
node_modules/react-native-autoheight-webview/index.js
node_modules/react-native-autoheight-webview/package.json
/node_modules/
